/* Base style */

body {
	margin: 0;
	display: table;
	width: 100%;
	height: 100vh;
	background: #212121;

}

body > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* Menu style */

.trigger {
	position: relative;
	background: #444;
	width: 120px;
	height: 120px;
	border: none;
	border-radius: 50%;

	/* img replace */
	overflow: hidden;
	text-indent: 100%;
	color: transparent;
	white-space: nowrap;

	cursor: pointer;
}

.trigger span,
.trigger span::before,
.trigger span::after {
	position: absolute;
	width: 44px;
	height: 4px;
	background: #fff;
	border-radius: 4px;

}

.trigger span {
	top: calc(50% - 2px);
	left: calc(50% - 22px);

	-webkit-transition: transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
}

.trigger span::before,
.trigger span::after {
	content: '';
	left: 0;

	-webkit-transition: transform .3s, width .3s;
	-o-transition: transform .3s, width .3s;
	transition: transform .3s, width .3s;
}

.trigger span::before {
	bottom: 12px;
}

.trigger span::after {
	top: 12px;
}

.trigger:hover span {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.trigger:hover span::before {
	width: 50%;

	-webkit-transform: translate(-2px, 5px) rotate(-45deg);
	-ms-transform: translate(-2px, 5px) rotate(-45deg);
	-o-transform: translate(-2px, 5px) rotate(-45deg);
	transform: translate(-2px, 5px) rotate(-45deg);
}

.trigger:hover span::after {
	width: 50%;

	-webkit-transform: translate(-2px, -5px) rotate(45deg);
	-ms-transform: translate(-2px, -5px) rotate(45deg);
	-o-transform: translate(-2px, -5px) rotate(45deg);
	transform: translate(-2px, -5px) rotate(45deg);
}